$ cat .gitignore

Thumbs.db
.DS_Store
*~
*.xml
.Cache
/plugins/Dictionary/StringDictionary/bin
/plugins/Dictionary/ValueDictionary/bin
/plugins/TransformMeshBeamerCombination/bin
/plugins/ValueIterate/bin